<?xml version="1.0"?>
<robot name="ares_with_imu" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find ares_description)/urdf/ares_description.xacro" />
    <xacro:include filename="$(find ares_description)/urdf/sensors/imu_gazebo.xacro" />

    <xacro:property name="imu_offset_x" value="0.05" />
    <xacro:property name="imu_offset_y" value="0" />
    <xacro:property name="imu_offset_z" value="0.06" />

    <!-- imu -->
    <joint name="imu_joint" type="fixed">
        <origin xyz="${imu_offset_x} ${imu_offset_y} ${imu_offset_z}" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="imu_link"/>
    </joint>

    <xacro:usb_imu prefix="imu"/>

    <ares_with_imu/>

</robot>
